@if (Request.IsAuthenticated) {
    <text>
        Ваш промокод: @User.Identity.Name
        @using (Html.BeginForm("LogOff", "PromoAccount", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </text>
} 
