@using WebSite.BLL
@if (Request.IsAuthenticated)
{
    <text>
        <h4>Ваш промокод: @User.Identity.Name</h4>
        @using (Html.BeginForm("LogOff", "PromoAccount", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
          
            if (DebugInfo.IsDebug)
            {
                 <a href="javascript:document.getElementById('logoutForm').submit()">Забыть в этом браузере (debug)</a>
            }
        }
    </text>
} 
